window {
    background-color: rgba(30, 30, 46, 0.7);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 24px;
    color: #cdd6f4;
}

button {
    background-color: rgba(49, 50, 68, 0.85);
    border: 2px solid #313244;
    border-radius: 14px;
    margin: 6px;
    padding: 24px;
    color: #cdd6f4;
}

button:hover {
    background-color: rgba(137, 180, 250, 0.35);
    border-color: #89b4fa;
}
